doctype html
html
  head
    title Aplicación NodeJS - Postgres - React
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/react@16/umd/react.development.js', crossorigin=true)
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js', crossorigin=true)
    script(src='https://unpkg.com/babel-standalone@6.26.0/babel.js', crossorigin=true)
    script(src="/scripts/app.js", type="text/babel")
  body
    block content
