@font-face {
    font-family: "Esphimere";
    src: url("../fonts/Esphimere.otf");
}

@font-face {
    font-family: "Esphimere";
    src: url("../fonts/Esphimere-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: "Esphimere";
    src: url("../fonts/Esphimere-Bold-Italic.otf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Esphimere";
    src: url("../fonts/Esphimere-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Esphimere";
    src: url("../fonts/Esphimere-Light.otf");
    font-weight: 300;
}

