// Home
.jumbotron-h1 {
    font-size: 2rem;
}

.home-jumbotron {
	height: 400px;
	background-color: #2680be;
	display: grid;
	grid-template-columns: 1fr 380px 760px 1fr;
    align-items: center;

    @media screen and (max-width: 1139px) {
        grid-template-columns: 1fr 320px 640px 1fr;
    }
    
    @media screen and (max-width: 959px) {
        grid-template-columns: 1fr;
        /* grid-template-columns: 1fr 480px 240px 1fr; */
    }

    .mensaje-home {
        grid-column-start: 2;

        @media screen and (max-width: 959px) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            z-index: 2;
            justify-self: start;
            background: $blue;
            border-radius: 0 10px 10px 0;
        }
        
        hr {
            border-color: white;
            width: 225px;
            margin-left: 0;
            margin-bottom: 1.25rem;
        }

        p {
            @media screen and (max-width: 539px) {
                max-width: 60%;
            }
        }
    }

    .imagen-home {
        grid-column: 3 / 5;
        justify-self: end;
        height: 100%;
        width: 100%;
        background-image: url("../img/vista-aerea-santiago.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;

        @media screen and (max-width: 959px) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            z-index: 1;
        }
    }
}

.col-seguro {
    @extend .col-lg-4;

    a:first-of-type {
        overflow: hidden;
    }

    .card-img-top {
        height: 240px;
        object-fit: cover;
        transform: scale(1.01);
    }

}

.col-seguro + .col-seguro {
    @extend .mt-4;
    @extend .mt-lg-0;
}

.ver-mas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-title {
        color: black;
        margin: 0;
    }
}