/* Body */

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body.admin-bar {
    min-height: calc(100vh - 32px);
}

// Media

// Interlineado párrafos
.type-page, type-productos {
    p {
        line-height: 1.3;
    }
}

@media screen and ( max-width: 782px ) {
    body.admin-bar {
        min-height: calc(100vh - 46px);
    }
}